body {
    margin: 0px;
    padding: 0px;
    font-family: 'Droid Sans', sans-serif;
    /*
    font-family: 'Carme', sans-serif;
    */
    font-size: 14px;
    background-color: white;
    color: black;
}

a {
    text-decoration: none;
    color: #0033BB;
}

a:visited {
    
}

#div.scroll {
    
}

.page-header {
    padding: 10px;
    background-color: #222222;
    color: #EEEEEE;
}

.page-header a {
    color: #EEEEEE;
}

.page-header span {
    padding-right: 15px;
}

.desksms-header a {
    font-weight: bold;
    color: #E27318;
}

.send-message-container {
    padding: 9px;
    margin: 40px;
    background-color: #F1F1F1;
}

.content-container {
    width: 50%;
    min-width: 300px;
    min-height: 200px;
    margin-left: auto;
    margin-right: auto;
}

input.rounded {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; 
    height: 25px;
    padding: 4px;
}

.contact-header {
    float: left;
    display: inline;
    width: 20%;
    margin-top: 20px;
}

.contact-name {
    font-size: 18px;
    font-weight: bold;
}

.contact-messages {
    font-family: 'Carme', sans-serif;
    float: left;
    display: inline;
    width: 80%;
}

.contact-messages-internal {
    padding: 8px;
}

.message-from {
    font-weight: bold;
}

.message-content {
}

.message-date {
    color: #888888;
    font-size: 12px;
}

.message-panel-footer {
    background-color: #EEEEEE;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
}

.message-panel-footer li
{
    display: inline;
    list-style-type: none;
}

.message-panel-footer a {
    text-decoration: underline;
}

.contact-call {
    padding-right: 14px;
}

.contact-text {
    padding-right: 14px;
}

.contact-delete {
    padding-right: 14px;
}

.contact-text-container {
    display: inline;
    margin-bottom: 8px;
}

.contact-text-container-hidden {
    display: none;
}

.contact-text-content {
    width: 95%;
}

.contact-message {
    padding-bottom: 5px;
}

.hidden {
    display: none;
}

.content-status {
    padding: 20px;
    font-size: 24px;
}

.grey-header {
    background-color: #EEEEEE;
    color: black;
}

.contact-action-confirm-dialog {
    padding-top: 4px;
    padding-bottom: 4px;
}

.contact-action-confirm-yes {
    padding-right: 20px;
}

.contact-action-confirm-no {
}

.contact-search {
    padding: 20px;
}

#contact-search {
    width: 300px;
    height: 30px;
    font-size: 24px;
}

.like-buttons {
    margin: 4px;
}

.like-button {
    margin: 2px;
}